@model dynamic

<div class="row row-cols-auto g-1 justify-content-between align-items-center small text-nowrap">
    <div class="col">
        <span>
            API Duration: @Model.ElapsedMilliseconds ms
        </span>
    </div>
    <div class="col">
        <span>
            Source: @Model.RequestPath
        </span>
    </div>
    <div class="col">
        <span>
            @Model.ResultAge
        </span>
    </div>
</div>

