@model WebsiteVM
@using System.Reflection;
@{
    var currentYear = DateTime.Now.Year.ToString();
    var status = new ApplicationStatus(Assembly.GetExecutingAssembly());
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 text-sm-center" style="float:left;font-size:1.0vw;">
            @status.BuildVersion.ToString()
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align:center;font-size:1.0vw;">
            <i class="fa fa-copyright"></i> @DateTime.Now.Year - @Model.WebsiteName
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3" style="float:right;font-size:1.0vw;">
            Last Built: @status.BuildVersion.BuildDate.ToLocalTime().ToLongDateString() <br />
        </div>
    </div>
</div>

