@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@functions {
    public string GetCanonicalUrl()
    {
        var request = HttpContextAccessor.HttpContext.Request;
        var canonicalUrl = $"{request.Scheme}://{request.Host}{request.Path}{request.QueryString}";
        return canonicalUrl;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>@ViewData["Title"] - Web Spark</title>
    <link rel="canonical" href="@GetCanonicalUrl()" />
    <link rel="stylesheet" href="~/dist/css/style.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        @await Html.PartialAsync("_navbar")
    </header>
    <main class="container-fluid main-content pb-3">
        <section class="bg-white py-10 container-fluid">
            @await Html.PartialAsync("_nav_area")
        </section>
        <hr class="m-0" />
        @RenderBody()
    </main>
    @await Html.PartialAsync("_Footer")

    <script src="~/dist/js/scripts.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
