@model             ErrorVM
@{
    Layout = "../layouts/_Layout.cshtml";
    ViewData["Title"] = "Route Not Found";
}
<br/><br/>
<div class="row">
    <h1 class="text-danger">Page Not Found.</h1>
    <h2 class="text-danger">The requested page was not found.</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request Page:</strong> <code>@Model.RequestId</code>
        </p>
    }
</div>




