@using Microsoft.AspNetCore.Http
@using WebSpark.Core.Models
@inject IHttpContextAccessor HttpContextAccessor
@{
    var currentYear = DateTime.UtcNow.Year.ToString();
    var status = new WebSpark.Core.Models.ApplicationStatus(System.Reflection.Assembly.GetExecutingAssembly());
    var request = HttpContextAccessor.HttpContext.Request;
    var canonicalUrl = $"{request.Scheme}://{request.Host}{request.Path}{request.QueryString}";
}
<footer class="d-print-none bg-dark">
    <div class="footer-container container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 text-light" style="float:left">
                @status.BuildVersion.ToString()
                <br />
                <a href="https://github.com/markhazleton/webspark" target="_blank">GitHub Repo</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 text-light" style="text-align:center;">
                &copy; 2023-@currentYear PromptSpark
                <br />
                <div class="d-inline-flex align-items-center">
                    <span class="me-2">Share this page:</span>
                    <a href="https://www.linkedin.com/shareArticle?mini=true&url=@canonicalUrl&title=Page%20Title&summary=Page%20Description" class="btn btn-secondary btn-sm me-1" target="_blank">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a href="mailto:?subject=Check%20this%20out&body=Check%20out%20this%20page: @canonicalUrl" class="btn btn-danger btn-sm me-1" target="_blank">
                        <i class="bi bi-envelope"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 text-light" style="float:right">
                Last Built: @status.BuildDate.ToLocalTime().ToLongDateString() <br />
                <a href="https://markhazleton.com" target="_blank" title="Mark Hazleton, Lifelong Learner, not sidetracked by sizzle">Mark Hazleton</a>
            </div>
        </div>
    </div>
</footer>
