@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@functions {
    public string GetCanonicalUrl()
    {
        var request = HttpContextAccessor.HttpContext.Request;
        var canonicalUrl = $"{request.Scheme}://{request.Host}{request.Path}{request.QueryString}";
        return canonicalUrl;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>@ViewData["Title"] - Prompt Spark</title>
    <link rel="canonical" href="@GetCanonicalUrl()" />
    <link rel="stylesheet" href="~/dist/css/style.min.css" asp-append-version="true" />
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.0.7/cr-2.0.2/date-1.5.2/r-3.0.2/datatables.min.css" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <!-- Brand/logo -->
                <a class="navbar-brand" href="/Home/Index">
                    <img src="~/dist/images/PromptSpark-icon-transparent.webp" alt="Prompt Spark" style="height: 50px;">
                </a>
                <!-- Toggler button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/OpenAI/Chat/Index">Explore</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container-fluid main-content pb-3">
        @RenderBody()
    </main>

    @await Html.PartialAsync("/Views/Shared/_Footer.cshtml")


    <script src="~/dist/js/bootstrap.bundle.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.0.7/cr-2.0.2/date-1.5.2/r-3.0.2/datatables.min.js"></script>
    <script src="~/dist/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
