@using PromptSpark.Utilities
@model             UserPromptDto

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-8">
        <h1>@Model.UserPrompt.Truncate(40)</h1>
        <p>@Model.DefinitionType</p>
    </div>
    <div class="col-4">
        <a class="btn btn-primary me-2" asp-action="Edit" asp-route-id="@Model?.UserPromptId">Edit</a>
        <a class="btn btn-danger me-2" asp-action="Refresh" asp-route-id="@Model?.UserPromptId">Refresh</a>
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
    </div>
</div>

@Html.Partial("_UserPromptDetail", Model)

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl, { html: true })
            });
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl);
            });
        });
    </script>
}