<nav class="navbar navbar-expand-lg fixed-top shadow-sm" aria-label="Main navigation">
    <div class="container">
        <a class="navbar-brand" href="/">WebSpark</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link px-lg-3" href="/PromptSpark">PromptSpark</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-lg-3" href="/AsyncSpark">AsyncSpark</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-lg-3" href="/DataSpark">DataSpark</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-lg-3" href="/TriviaSpark">TriviaSpark</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Spacer to prevent content from being hidden under fixed navbar -->
<div class="mb-5 pt-5"></div>