@using WebSpark.Domain.Models
@{
    var currentYear = DateTime.UtcNow.Year.ToString();
    var status = new ApplicationStatus(System.Reflection.Assembly.GetExecutingAssembly());
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/dist/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/dist/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/dist/images/favicon-16x16.png">
    <link rel="manifest" href="/dist/images/site.webmanifest">
    <meta name="author" content="Mark Hazleton">

    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/dist/css/style.min.css" asp-append-version="true" />
    <link href="https://cdn.datatables.net/2.0.4/css/dataTables.bootstrap5.css" rel="stylesheet">

    @RenderSection("HeadScripts", required: false)
</head>
<body id="page-top">
    <header>
        @await Html.PartialAsync("/Views/Shared/_nav.cshtml")
    </header>
    <main role="main" class="container-fluid main-content pb-3">
        @RenderBody()
    </main>

    @await Html.PartialAsync("/Views/Shared/_Footer.cshtml")

    <script src="~/dist/js/bootstrap.bundle.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/2.0.4/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.4/js/dataTables.bootstrap5.js"></script>
    <script src="~/dist/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>