<!DOCTYPE html>
<html lang="en">

<head>
    @await Html.PartialAsync("Sections/Meta/_metatags")
    <link href="/dist/css/webspark.min.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css">

    @await RenderSectionAsync("Styles", required: false)
    @await RenderSectionAsync("PageStyles", required: false)
    @await RenderSectionAsync("HeadScripts", required: false)

</head>

<body class="d-flex flex-column min-vh-100">
    @Html.AntiForgeryToken()
    <header>
        @await Html.PartialAsync("Sections/Navigation")
    </header>
    <br /><br />
    <main class="flex-shrink-0">
        <div class="container-fluid py-4">
            @RenderBody()
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light border-top">
        @await Html.PartialAsync("Sections/Footer/_footer")
    </footer>

    @await Html.PartialAsync("Sections/Footer/_footer_scripts")
    <script src="/dist/js/webspark.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("PageScripts", required: false)
</body>

</html>