<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("Sections/Meta/_metatags")

    <link href="/dist/css/webspark.min.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    @await RenderSectionAsync("Styles", required: false)
    @await RenderSectionAsync("PageStyles", required: false)
    @await RenderSectionAsync("HeadScripts", required: false)
</head>
<body>
    <main>
        @await Html.PartialAsync("Sections/Navigation")
        @RenderBody()
        <hr class="m-0" />
    </main>

    @await Html.PartialAsync("Sections/Footer/_footer")
    @await Html.PartialAsync("Sections/Footer/_footer_scripts")

    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("PageScripts", required: false)
</body>
</html>
