<footer class="footer pt-1 pb-1 mt-auto bg-light footer-light">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-md-6 small">
                Copyright &copy; <a href="https://markhazleton.com">Mark Hazleton</a> 2024
                <div class="mb-3"></div>
                <div class="icon-list-social mb-3">
                    <a class="icon-list-social-link" href="https://www.linkedin.com/in/markhazleton/"><i class="fab fa-linkedin"></i></a>
                    <a class="icon-list-social-link" href="https://github.com/markhazleton/"><i class="fab fa-github"></i></a>
                    <a class="icon-list-social-link" href="https://stackoverflow.com/users/479571/markhazleton"><i class="fab fa-stack-overflow"></i></a>
                    <a class="icon-list-social-link" href="https://www.instagram.com/markhazleton"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-md-6 text-md-end small">
                <a href="/home/privacy">Privacy Policy</a>
                &middot;
                <a href="/home/terms">Terms &amp; Conditions</a>
                &middot;
                <a href="/home/kitchensink">Demo</a>
            </div>
        </div>
    </div>
</footer>