@using Microsoft.AspNetCore.Http
@using WebSpark.Core.Models
@inject IHttpContextAccessor HttpContextAccessor
@{
    var currentYear = DateTime.UtcNow.Year.ToString();
    var status = new WebSpark.Core.Models.ApplicationStatus(System.Reflection.Assembly.GetExecutingAssembly());
    var request = HttpContextAccessor.HttpContext.Request;
    var canonicalUrl = $"{request.Scheme}://{request.Host}{request.Path}{request.QueryString}";
}

<footer class="footer pt-1 pb-1 mt-auto bg-light footer-light">
    <div class="container px-5">
        <div class="row gx-5 ">
            <div class="col-4 small text-md-start">
                @status.BuildVersion.ToString()
                <br />
                <a href="https://github.com/markhazleton/webspark" target="_blank">GitHub Repo</a>
                <br />
                Copyright &copy; <a href="https://markhazleton.com">Mark Hazleton</a> 2002-@currentYear
                <div class="icon-list-social mb-3">
                    <a class="icon-list-social-link" href="https://www.linkedin.com/in/markhazleton/"><i class="fab fa-linkedin"></i></a>
                    <a class="icon-list-social-link" href="https://github.com/markhazleton/"><i class="fab fa-github"></i></a>
                    <a class="icon-list-social-link" href="https://stackoverflow.com/users/479571/markhazleton"><i class="fab fa-stack-overflow"></i></a>
                    <a class="icon-list-social-link" href="https://www.instagram.com/markhazleton"><i class="fab fa-instagram"></i></a>
                    <a class="icon-list-social-link" href="https://www.youtube.com/c/MarkHazleton"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="col-4 text-md-center small">
                <div class="d-inline-flex align-items-center">
                    <a href="/home/privacy">Privacy Policy</a>
                    &middot;
                    <a href="/home/terms">Terms &amp; Conditions</a>
                    &middot;
                    <a href="/home/kitchensink">Demo</a>
                </div>
                <div class="d-inline-flex align-items-center">
                    <span class="me-2">Share this page:</span>
                    <a href="https://www.linkedin.com/shareArticle?mini=true&url=@canonicalUrl&title=Page%20Title&summary=Page%20Description" class="btn btn-secondary btn-sm me-1" target="_blank">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a href="mailto:?subject=Check%20this%20out&body=Check%20out%20this%20page: @canonicalUrl" class="btn btn-danger btn-sm me-1" target="_blank">
                        <i class="bi bi-envelope"></i>
                    </a>
                </div>



            </div>
            <div class="col-4 text-md-end small">
                Last Built: @status.BuildDate.ToLocalTime().ToLongDateString() <br />
                <a href="https://markhazleton.com" target="_blank" title="Mark Hazleton, Lifelong Learner, not sidetracked by sizzle">Mark Hazleton</a>
            </div>
        </div>
    </div>
</footer>
