@{
    ViewData["Title"] = "Prompt Spark Home";
}

<div class="container mt-5">
    <div class="jumbotron bg-light p-5 shadow-sm">
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid rounded-2 top-0 end-0 " alt="Prompt Spark" src="~/dist/images/PromptSpark.webp">
            </div>
            <div class="col-md-6 align-text-top align-content-center">
                <p class="lead">A LLM prompt management and comparison tool.</p>
                <p>
                    <strong>Prompt Spark</strong> helps developers and businesses optimize the use of LLM models
                    by managing, tracking, and comparing system prompts efficiently.
                </p>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary btn-lg" href="https://WebSpark.markhazleton.com/PromptSpark/Chat/Index" role="button">Explore</a><br /><br />
                <a class="btn btn-primary btn-lg" href="https://WebSpark.MarkHazleton.com/PromptSpark/Home/learnmore" role="button">Prompt Spark Deep Dive</a>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-header bg-secondary-subtle ">
                    Core Sparks
                </div>
                <div class="card-body">
                    <p class="lead">
                        Core Spark outlines the core behavior and output expectations for LLMs,
                        detailing the rigorous requirements and guidelines that ensure consistency
                        and quality across all interactions.
                    </p>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card mb-4 shadow-sm">
                <div class="card-header bg-secondary-subtle ">Spark Variants</div>
                <div class="card-body">
                    <p class="lead">
                        A Spark Variant is an LLM implementation of a Core Spark,
                        designed to compare responses with variants of the same Core Spark.
                        This allows for in-depth testing and analysis of different variants.
                    </p>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card mb-4 shadow-sm">
                <div class="card-header bg-secondary-subtle ">User Prompts</div>
                <div class="card-body">
                    <p class="lead">
                        A User Prompt is a collection of test inputs designed for a Core Spark.
                        They are systematically run against different Variants to assess
                        their effectiveness and adherence to the Core Spark specification.
                    </p>
                </div>
                <div class="card-footer"></div>

            </div>
        </div>
    </div>
</div>
