@model WebsiteVM
@{
    Layout = "../layouts/_Layout.cshtml";
}
@section Styles {

}
<div class="row">
    <markdown normalize-whitespace="false" sanitize-html="false">
        @foreach (var item in Model.Menu.Where(w => w.Title == Model.PageTitle).ToArray())
        {
            @Html.Raw(item.PageContent)
        }
    </markdown>
</div>
