@page
@model                         WebSpark.Portal.Areas.Identity.Pages.Account.Manage.DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = WebSpark.Portal.Areas.Identity.Pages.Account.Manage.ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
