@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to WebSpark</h1>
        <p class="lead">Your Gateway to Innovative Web Applications</p>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">PromptSpark</h5>
                    <p class="card-text">Manage and optimize system prompts for Large Language Models (LLMs). Experiment with different configurations, test scenarios, and refine your AI interactions.</p>
                    <a href="/PromptSpark" class="btn btn-primary">Go To PromptSpark</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">WebSpark</h5>
                    <p class="card-text">Explore the foundational framework for all Mark Hazleton's applications. Built with .NET 8 and Bootstrap 5, WebSpark provides a robust and flexible platform for various web solutions.</p>
                    <a href="/WebCMS/website" class="btn btn-primary">Go To WebSpark</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">RecipeSpark</h5>
                    <p class="card-text">Discover and manage recipes with ease. RecipeSpark allows you to save, organize, and share your favorite recipes in a user-friendly interface.</p>
                    <a href="/RecipeSpark/Main" class="btn btn-primary">Go To RecipeSpark</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">TriviaSpark</h5>
                    <p class="card-text">Engage in fun and challenging trivia games. TriviaSpark offers a variety of quizzes to test your knowledge and keep you entertained.</p>
                    <a href="https://TriviaSpark.markhazleton.com" class="btn btn-primary">Go To TriviaSpark</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <hr class="my-4">
        <p>WebSpark, developed by Mark Hazleton, is a family of web applications designed to enhance your digital experience. Built on the Microsoft .NET 8 framework and using Bootstrap 5, WebSpark offers a range of tools for various needs.</p>

    </div>

</div>
