@{
    ViewData["Title"] = "Terms and Conditions";
}

<div class="container mt-5">
    <h1 class="mb-4">Terms and Conditions</h1>

    <p>Welcome to WebSpark!</p>

    <p>These terms and conditions outline the rules and regulations for the use of WebSpark's Website, located at [Your Website URL].</p>

    <h2 class="mt-4">Introduction</h2>
    <p>By accessing this website, we assume you accept these terms and conditions. Do not continue to use WebSpark if you do not agree to take all of the terms and conditions stated on this page.</p>

    <h2 class="mt-4">Cookies</h2>
    <p>We employ the use of cookies. By accessing WebSpark, you agreed to use cookies in agreement with WebSpark's Privacy Policy.</p>

    <h2 class="mt-4">License</h2>
    <p>Unless otherwise stated, WebSpark and/or its licensors own the intellectual property rights for all material on WebSpark. All intellectual property rights are reserved. You may access this from WebSpark for your own personal use subjected to restrictions set in these terms and conditions.</p>

    <h2 class="mt-4">Usage Data</h2>
    <p>WebSpark uses Microsoft Clarity and Google Analytics to collect anonymized usage data. This information helps us to understand how our website is used and to improve our services. The data collected is anonymous and cannot be used to identify you personally.</p>

    <h2 class="mt-4">User Obligations</h2>
    <p>As a user of our website, you agree not to:</p>
    <ul>
        <li>Engage in any activity that could harm or disrupt the website's functionality.</li>
        <li>Attempt to gain unauthorized access to any part of the website or its systems.</li>
        <li>Use the website in any way that is unlawful or harmful to others.</li>
    </ul>

    <h2 class="mt-4">Modifications</h2>
    <p>WebSpark reserves the right to revise these terms and conditions at any time. By using this website, you are expected to review these terms on a regular basis to ensure you understand all terms and conditions governing the use of this website.</p>

    <h2 class="mt-4">Contact Information</h2>
    <p>If you have any questions or concerns about these terms and conditions, please contact us at [Your Contact Information].</p>
</div>
